@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
    
}

@keyframes openFormData {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
   

    }
    
}