.card {
    width: 350px;
    height: 580px;
    transform-style: preserve-3d;
    position: relative;   
    
}

main {
    background: $black;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0deg);

    &.front {

        .arrow-left {
            position: absolute;
            top: 50%;
            right: 5%;
            border: none;
            background: none;
            outline: inherit;
            cursor: pointer;

        }

        &.turn3d {
            transform: perspective(500px) rotateY(180deg);
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &::after {
        content: '';
        position: absolute;
        background: $gradientY;
        height: 200px;
        width: 64px;
        display: block;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

    }

}

.back {
    transform: perspective(500px) rotateY(180deg);

    .content {
        padding: 5px 20px 5px 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    &.turn3d {
        transform: perspective(500px) rotateY(360deg);
    }

    .logoDoWhile {
        margin-top: 25px;
        width: 250px;
    } 
    
    .titleDoWhile {
        text-align: left;
        font-size: 28px;
    
    }

    .descriptionDoWhile {
        text-align: left;

    }

    .dateDoWhile {
        font-family: 'Fira Code', monospace;
        color: #ffcd1e;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 15px;


    }

    .btnDoWhile {
        text-decoration: none;
        padding: 15px 20px;
        background-color: #ffcd1e;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        display: block;
        margin-top: 15px;
        
    }

    .arrow-right {
        margin-top: 10px;
        display: block;
        position: relative;
        z-index: 50;
        border: none;
        background: none;
        outline: inherit;
        cursor: pointer;
        text-align: start;

        img {
            transform: rotateY(180deg);

        }

    }
    
}

.form {
    width: 100%;
    background: $gradientX;
    height: 165px;
    clip-path: polygon(100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: $black;
        border-radius: 25px;
        height: 8px;
        width: 80px;
        display: block;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;

    }


}
  
.avatar {
    width: 10rem;
    position: relative;
    margin-top: -90px;
    transition: .3s;

    &:hover {
        transform: scale(1.05);
    }

    .avatarBrand {
        position: absolute;
        top: -15px;
        z-index: 1;
        animation: rotate 70s infinite;
    

    }

    .avatarImage {
        width: 10rem;
        height: 11.5rem;
        object-fit: cover;
        // clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: circle();
    
    }

}
 
.userName {
    margin-top: 1.5rem;
    font-size: 1.5rem;

}

.userGithub {
    margin-top: 0.30rem;
    color: $grey;
    text-decoration: none;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-right: 15px;

}

.userDescription {
    margin-top: 2rem;
    max-width: 262px;

}

.userLinks {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;

}
  
.input {
    // display: none !important;
    position: absolute;
    // height: 50px;
    left: 20%;
    display: flex;
    gap: 15px;
    flex-direction: column;

    label {
        font-size: 18px;
        color: #fff;
    }

    .insertName {
        width: 200px;
        
        outline: none;
        padding: 5px;

    }    

}