.card {
    width: 350px;
    height: 580px;
    transform-style: preserve-3d;
    position: relative;   
    
}

main {
    background: $black;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0deg);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &::after {
        content: '';
        position: absolute;
        background: $gradientY;
        height: 200px;
        width: 64px;
        display: block;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

    }

}

.front {

    .arrow-left {
        position: absolute;
        top: 50%;
        right: 5%;
        border: none;
        background: none;
        outline: inherit;
        cursor: pointer;
      
        
        img {
            padding: 5px;
            transition: .2s;

            &:hover {
                transform: scale(1.5);
            }

        }
    }

    .ri-menu-line {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 24px;
        color: $pink;
        cursor: pointer;

    }

    

    &.turn3d {
        transform: perspective(500px) rotateY(180deg);
    }

}

.back {
    transform: perspective(500px) rotateY(180deg);

    .content {
        padding: 5px 20px 5px 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    &.turn3d {
        transform: perspective(500px) rotateY(360deg);
    }

    .logoDoWhile {
        margin-top: 25px;
        width: 250px;
    } 
    
    .titleDoWhile {
        text-align: left;
        font-size: 28px;
    
    }

    .descriptionDoWhile {
        text-align: left;

    }

    .dateDoWhile {
        font-family: 'Fira Code', monospace;
        color: #ffcd1e;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 15px;


    }

    .btnDoWhile {
        text-decoration: none;
        padding: 15px 20px;
        background-color: #ffcd1e;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        display: block;
        margin-top: 15px;
        
    }

    .arrow-right {
        position: absolute;
        bottom: 2%;
        left: 3%;
        z-index: 0;
        border: none;
        background: none;
        cursor: pointer;

        img {
            transform: rotateY(180deg);
            transition: .2s;
            padding: 5px;

            &:hover {
                transform: rotateY(180deg) scale(1.5);
            }

        }

    }
    
}

.form {
    width: 100%;
    background: $gradientX;
    height: 165px;
    clip-path: polygon(100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: $black;
        border-radius: 25px;
        height: 8px;
        width: 80px;
        display: block;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;

    }


}
  
.avatar {
    width: 10rem;
    position: relative;
    margin-top: -90px;
    transition: .3s;

    &:hover {
        transform: scale(1.05);
    }

    .avatarBrand {
        position: absolute;
        top: -15px;
        z-index: 1;
        animation: rotate 70s infinite;
    

    }

    .avatarImage {
        width: 10rem;
        height: 11.5rem;
        object-fit: cover;
        // clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: circle();
    
    }

}
 
.userName {
    margin-top: 1.5rem;
    font-size: 1.5rem;

}

.userGithub {
    margin-top: 0.30rem;
    color: $grey;
    text-decoration: none;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-right: 15px;

}

.userDescription {
    margin-top: 2rem;
    max-width: 262px;

}

.userLinks {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    

    img {
        transition: .2s;
        &:hover {
            transform: scale(1.1);
            
        }
    }

}
  
.formData {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 2000;
    background-color: $black;
    z-index: 199;
    width: 350px;
    height: 580px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: none;


    .ri-close-line {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 24px;
        color: $pink;
        cursor: pointer;

    }

    img {
        width: 200px;
        margin: 35px auto 30px auto;

    }

    .containerData {
        padding: 15px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        

    }

    .formTitle {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: #fff; 


    }

    .insertNameLabel {
        margin-top: 30px;
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        
    }

    .insertName {
        background: #d3d3d3;
        background: none;
        border: none;
        border-bottom: 1px solid $pink;
        outline: none;
        padding: 7px 7px 3px 0;
        color: $grey;
        color: $yellow;
        font-size: 16px;
        margin-top: 15px;

        &:focus {
            border-bottom: 1px solid $yellow;

        }

    }    

    button {
        border: none;
        text-decoration: none;
        padding-block: 10px;
        background-color: #ffcd1e;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        display: block;
        margin-top: 30px;
        cursor: pointer;

    }

    animation: openFormData .7s linear forwards;
    

    &.active {
        display: flex;

    }



}

@media (max-width: 480px) {
    .card, .formData {
        width: 100vw;
        height: 100vh;
    }

    .form {
        


        &::after {

            display: none;
    
        }
    
    
    }

    .containerData {
        padding: 15px;
        padding-top: 50px !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        img {
            width: 80%;
        }
    }

    .insertNameLabel {
        margin-top: 30px;
        font-size: 20px !important;
        color: #fff;
        font-weight: 500;
        
    }

    .insertName {
        background: #d3d3d3;
        background: none;
        border: none;
        border-bottom: 1px solid $pink;
        outline: none;
        padding: 7px 7px 3px 0;
        color: $grey;
        color: $yellow;
        font-size: 18px !important;
        margin-top: 15px;
    }

    main {

        &::after {
            display: none;
    
        }
    }
    
}